USE [GesLune]
GO
/****** Object:  Table [dbo].[Tble_Acteurs]    Script Date: 06/01/2025 15:49:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tble_Acteurs](
	[Acteur_Id] [int] IDENTITY(1,1) NOT NULL,
	[Acteur_Nom] [nvarchar](100) NOT NULL,
	[Acteur_Adresse] [nvarchar](200) NULL,
	[Acteur_Telephone] [nvarchar](15) NULL,
	[Acteur_Email] [nvarchar](100) NULL,
	[Acteur_Remarque] [nvarchar](255) NULL,
	[Acteur_Type_Id] [int] NOT NULL,
	[Acteur_Ville_Id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Acteur_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
