USE [GesLune]
GO
/****** Object:  Table [dbo].[Tble_Documents]    Script Date: 29/12/2024 15:16:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tble_Documents](
	[Document_Id] [int] IDENTITY(1,1) NOT NULL,
	[Document_Num] [varchar](50) NOT NULL,
	[Document_Nom_Ste] [nvarchar](50) NOT NULL,
	[Document_Ice] [varchar](50) NOT NULL,
	[Document_Date] [date] NOT NULL,
	[Document_Nom_Client] [nvarchar](50) NOT NULL,
	[Document_Adresse_Client] [nvarchar](200) NULL,
	[Document_Type_Id] [int] NOT NULL,
	[Acteur_Id] [int] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Tble_Documents] ADD  CONSTRAINT [DF_Tble_Documents_Document_Type_Id]  DEFAULT ((1)) FOR [Document_Type_Id]
GO
