USE [GesLune]
GO
/****** Object:  StoredProcedure [dbo].[sp_save_paiement]    Script Date: 07/01/2025 18:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_save_paiement]
    @Paiement_Id INT = NULL, -- Permet de vérifier l'existence
    @Paiement_Montant DECIMAL(18, 2),
    @Paiement_Acteur_Id INT = NULL,
    @Paiement_Acteur_Nom NVARCHAR(50) = NULL,
    @Paiement_Date DATETIME,
    @Paiement_Description NVARCHAR(500) = NULL,
	@Paiement_Document_Id int = NULL
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        IF EXISTS (
            SELECT 1 
            FROM Tble_Paiements 
            WHERE Paiement_Id = @Paiement_Id
        )
        BEGIN
            -- Mise à jour si l'enregistrement existe
            UPDATE Tble_Paiements
            SET 
                Paiement_Montant = @Paiement_Montant,
                Paiement_Acteur_Id = @Paiement_Acteur_Id,
                Paiement_Acteur_Nom = @Paiement_Acteur_Nom,
                Paiement_Date = @Paiement_Date,
                Paiement_Description = @Paiement_Description,
				Paiement_Document_Id = @Paiement_Document_Id
            WHERE Paiement_Id = @Paiement_Id;

            -- Retourner l'enregistrement mis à jour
            SELECT * FROM Tble_Paiements WHERE Paiement_Id = @Paiement_Id;
        END
        ELSE
        BEGIN
            -- Insertion si l'enregistrement n'existe pas
            INSERT INTO Tble_Paiements (
                Paiement_Montant,
                Paiement_Acteur_Id,
                Paiement_Acteur_Nom,
                Paiement_Date,
                Paiement_Description,
				Paiement_Document_Id
            )
            VALUES (
                @Paiement_Montant,
                @Paiement_Acteur_Id,
                @Paiement_Acteur_Nom,
                @Paiement_Date,
                @Paiement_Description,
				@Paiement_Document_Id
            );

            -- Retourner l'enregistrement nouvellement inséré
            SELECT * FROM Tble_Paiements WHERE Paiement_Id = SCOPE_IDENTITY();
        END
    END TRY
    BEGIN CATCH
        -- Gestion des erreurs
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();

        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END;
GO
