USE [GesLune]
GO
/****** Object:  Table [dbo].[Tble_Paiements]    Script Date: 06/01/2025 16:56:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tble_Paiements](
	[Paiement_Id] [int] IDENTITY(1,1) NOT NULL,
	[Paiement_Montant] [decimal](18, 2) NOT NULL,
	[Paiement_Acteur_Id] [int] NULL,
	[Paiement_Acteur_Nom] [nvarchar](50) NULL,
	[Paiement_Date] [datetime] NOT NULL,
	[Paiement_Description] [nvarchar](500) NULL,
	[Paiement_Document_Id] [int] NULL
) ON [PRIMARY]
GO
