USE [GesLune]
GO
/****** Object:  Table [dbo].[Tble_Document_Types]    Script Date: 04/01/2025 19:32:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tble_Document_Types](
	[Document_Type_Id] [int] IDENTITY(1,1) NOT NULL,
	[Document_Type_Nom] [nvarchar](50) NOT NULL,
	[Document_Type_Nom_Abrege] [nvarchar](50) NOT NULL,
	[Document_Type_Acteur_Type_Id] [int] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Tble_Document_Types] ADD  CONSTRAINT [DF_Tble_Document_Types_Document_Type_Acteur_Id]  DEFAULT ((1)) FOR [Document_Type_Acteur_Type_Id]
GO
