USE [GesLune]
GO
/****** Object:  Table [dbo].[Tble_Categories]    Script Date: 07/01/2025 18:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tble_Categories](
	[Categorie_Id] [int] IDENTITY(1,1) NOT NULL,
	[Categorie_Nom] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
