USE [GesLune]
GO
/****** Object:  View [dbo].[view_etat_stock]    Script Date: 06/01/2025 15:49:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[view_etat_stock] AS
SELECT 
    A.Article_Id As Etat_Stock_Article_Id,
    A.Article_Nom As Etat_Stock_Article_Nom,
    SUM(CASE WHEN D.Document_Type_Id IN (3,4) THEN -DL.Document_Ligne_Quantity 
             WHEN D.Document_Type_Id IN (5) THEN DL.Document_Ligne_Quantity 
             ELSE 0 END) AS Etat_Stock_Quantity
FROM 
    Tble_Articles A
LEFT JOIN 
    Tble_Document_Lignes DL ON A.Article_Nom = DL.Document_Ligne_Article_Nom
LEFT JOIN 
    Tble_Documents D ON DL.Document_Id = D.Document_Id
GROUP BY 
    A.Article_Id, A.Article_Nom;
GO
