USE [GesLune]
GO
/****** Object:  StoredProcedure [dbo].[sp_fiche_article]    Script Date: 04/01/2025 19:32:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_fiche_article]
@Article_Id int
AS
BEGIN
WITH CTE_Stock AS (
    SELECT 
        D.Document_Date AS Date,
        (SELECT DT.Document_Type_Nom FROM Tble_Document_Types DT WHERE DT.Document_Type_Id = D.Document_Type_Id) AS Type_De_Mouvement,
        DL.Document_Ligne_Quantity AS Quantité,
        SUM(CASE 
                WHEN D.Document_Type_Id IN (3,4) THEN -DL.Document_Ligne_Quantity 
                WHEN D.Document_Type_Id = 5 THEN DL.Document_Ligne_Quantity 
                ELSE 0 
            END) 
            OVER (PARTITION BY DL.Document_Ligne_Article_Nom ORDER BY D.Document_Date 
                 ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW) 
        AS Stock_Final,
        D.Document_Num AS Commentaire,
		Document_Ligne_Article_Nom,
		Document_Article_Id
    FROM 
        Tble_Document_Lignes DL
    INNER JOIN 
        Tble_Documents D ON DL.Document_Id = D.Document_Id
	WHERE Document_Article_Id = @Article_Id AND D.Document_Type_Id BETWEEN 3 AND 5
)

SELECT 
    Date,
    Type_De_Mouvement,
	Document_Article_Id,
	Document_Ligne_Article_Nom,
    Quantité,
    LAG(Stock_Final, 1, 0) OVER (PARTITION BY Document_Ligne_Article_Nom ORDER BY Date) AS Stock_Initial,
    Stock_Final,
    Commentaire
FROM 
    CTE_Stock
ORDER BY 
    Date;
END;
GO
