USE [GesLune]
GO
/****** Object:  StoredProcedure [dbo].[sp_save_acteur]    Script Date: 06/01/2025 15:49:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_save_acteur]
    @Acteur_Id INT = NULL, -- Permet de vérifier l'existence
    @Acteur_Nom NVARCHAR(100),
    @Acteur_Adresse NVARCHAR(200) = NULL,
    @Acteur_Telephone NVARCHAR(15) = NULL,
    @Acteur_Email NVARCHAR(100) = NULL,
    @Acteur_Remarque NVARCHAR(255) = NULL,
    @Acteur_Type_Id INT,
    @Acteur_Ville_Id INT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        -- Vérification de l'existence de l'acteur
        IF EXISTS (
            SELECT 1 
            FROM Tble_Acteurs 
            WHERE Acteur_Id = @Acteur_Id
        )
        BEGIN
            -- Mise à jour si l'enregistrement existe
            UPDATE Tble_Acteurs
            SET 
                Acteur_Nom = @Acteur_Nom,
                Acteur_Adresse = @Acteur_Adresse,
                Acteur_Telephone = @Acteur_Telephone,
                Acteur_Email = @Acteur_Email,
                Acteur_Remarque = @Acteur_Remarque,
                Acteur_Type_Id = @Acteur_Type_Id,
                Acteur_Ville_Id = @Acteur_Ville_Id
            WHERE Acteur_Id = @Acteur_Id;

            -- Retourner l'enregistrement mis à jour
            SELECT * FROM Tble_Acteurs WHERE Acteur_Id = @Acteur_Id;
        END
        ELSE
        BEGIN
            -- Insertion si l'enregistrement n'existe pas
            INSERT INTO Tble_Acteurs (
                Acteur_Nom,
                Acteur_Adresse,
                Acteur_Telephone,
                Acteur_Email,
                Acteur_Remarque,
                Acteur_Type_Id,
                Acteur_Ville_Id
            )
            VALUES (
                @Acteur_Nom,
                @Acteur_Adresse,
                @Acteur_Telephone,
                @Acteur_Email,
                @Acteur_Remarque,
                @Acteur_Type_Id,
                @Acteur_Ville_Id
            );

            -- Retourner l'enregistrement nouvellement inséré
            SELECT * FROM Tble_Acteurs WHERE Acteur_Id = SCOPE_IDENTITY();
        END
    END TRY
    BEGIN CATCH
        -- Gestion des erreurs
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();

        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END;
GO
