USE [GesLune]
GO
/****** Object:  Table [dbo].[Tble_Acteur_Types]    Script Date: 06/01/2025 16:56:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tble_Acteur_Types](
	[Acteur_Type_Id] [int] IDENTITY(1,1) NOT NULL,
	[Acteur_Type_Nom] [varchar](50) NULL,
	[Acteur_Type_Nom_Abrege] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[Acteur_Type_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
