USE [GesLune]
GO
/****** Object:  Table [dbo].[Tble_Villes]    Script Date: 28/12/2024 20:37:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tble_Villes](
	[Ville_Id] [int] IDENTITY(1,1) NOT NULL,
	[Ville_Nom] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Ville_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
